@import url(https://fonts.googleapis.com/css?family=Mulish:regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Mulish";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mulish";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.9375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__container {
  position: relative;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15.3125rem;
          flex: 0 0 15.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
  font-size: 2.8125rem;
  font-weight: 700;
  padding-right: 0.9375rem;
  color: #5EB647;
  position: relative;
  z-index: 50;
}

.header__logo small {
  font-size: 1.125rem;
}

.header__logo img {
  width: 4.5rem;
  height: 4.5rem;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.menu__item {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  position: relative;
}

.menu__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #5EB647;
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  border-radius: 2px;
}

.menu__link {
  color: #5EB647;
  font-size: 1.875rem;
  font-weight: 700;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #5EB647;
}

.footer__copyright {
  font-size: 1.75rem;
  text-align: center;
  color: #fff;
  padding: 1.0625rem 0;
  line-height: 1.4;
  font-weight: 700;
}

.species {
  background-color: #5EB647;
}

.species__container {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.species__title {
  color: #fff;
  text-align: center;
}

.species__link {
  color: rgba(255, 255, 255, 0.5019607843);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__image {
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27.375rem;
          flex: 0 1 27.375rem;
}

.main__image img {
  max-width: 100%;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34.375rem;
          flex: 0 0 34.375rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.main__title {
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  font-weight: 700;
}

.main__title span {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #71FF0A), color-stop(80%, #2AAA00));
  background-image: linear-gradient(#71FF0A 20%, #2AAA00 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__button {
  background-color: #6CD052;
  color: #fff;
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  padding: 1.375rem 1.8125rem;
  border-radius: 0.625rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.who__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4.6875rem;
     -moz-column-gap: 4.6875rem;
          column-gap: 4.6875rem;
}

.who__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 39%;
          flex: 1 1 39%;
}

.who__title {
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
}

.who__text {
  font-weight: 500;
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
}

.who__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.5%;
          flex: 0 0 42.5%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  padding-bottom: 42.5%;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.who__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.best__container {
  margin-top: 1.0625rem;
}

.best__title {
  text-align: center;
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
}

.best__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12.6875rem);
  gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.best__item {
  display: -ms-grid;
  display: grid;
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
}

.item-best__image {
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 3px 10px 27px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 10px 27px rgba(0, 0, 0, 0.35);
  position: relative;
  padding-bottom: 100%;
}

.item-best__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-best__title {
  font-size: 1.4375rem;
  font-weight: 400;
  text-align: center;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #5EB647;
  border-radius: 0.625rem;
}

.contact__content {
  padding-right: 0.9375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
}

.contact__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  line-height: 1.2;
  font-weight: 700;
}

.contact__social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact__link {
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact__link a img {
  width: 100%;
}

.contact__image {
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25rem;
          flex: 0 0 25rem;
  padding-bottom: 50%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  position: relative;
}

.contact__image img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.form {
  display: -ms-grid;
  display: grid;
}

.form__row {
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  font-size: 2.1875rem;
  font-weight: 700;
  line-height: 1.4;
}

.form__row:not(:last-child) {
  margin-bottom: 20px;
}

.form__row textarea {
  resize: none;
}

.form__input {
  background-color: #D9D9D9;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 2.1875rem;
  font-weight: 700;
  padding: 0 0.625rem;
  min-width: 6.25rem;
}

.form__button {
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  color: #fff;
  background-color: #5EB647;
  border-radius: 0.625rem;
  font-size: 2.1875rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0.4375rem 1.8125rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

*._watcher-view {
  -webkit-animation: show 1s ease-in forwards;
          animation: show 1s ease-in forwards;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6.25rem);
            transform: translateY(6.25rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6.25rem);
            transform: translateY(6.25rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 71.9375em) {
  .header__container {
    padding-top: 2.8125rem;
  }

  .header__container {
    padding-bottom: 2.8125rem;
  }

  .menu__list {
    gap: 3rem;
  }

  .species__container {
    font-size: 1.75rem;
  }

  .page__main {
    padding-top: 6.25rem;
  }

  .page__main {
    padding-bottom: 6.25rem;
  }

  .main__container {
    -webkit-column-gap: 7.8125rem;
       -moz-column-gap: 7.8125rem;
            column-gap: 7.8125rem;
  }

  .main__content {
    gap: 3.5625rem;
  }

  .main__title {
    font-size: 3.6875rem;
  }

  .main__button {
    font-size: 2.1875rem;
  }

  .who__container {
    margin-top: 1.5625rem;
  }

  .who__container {
    margin-bottom: 6.25rem;
  }

  .who__title {
    font-size: 3.4375rem;
  }

  .who__title:not(:last-child) {
    margin-bottom: 2.5625rem;
  }

  .who__text {
    font-size: 1.5rem;
  }

  .best__container {
    margin-bottom: 6.25rem;
  }

  .best__title {
    font-size: 3.4375rem;
  }

  .best__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .best__items {
    padding-left: 5.625rem;
  }

  .best__items {
    padding-right: 5.625rem;
  }

  .best__items {
    gap: 2.5rem;
  }

  .best__item {
    row-gap: 2.5rem;
  }

  .contact {
    padding-bottom: 5.4375rem;
  }

  .contact {
    padding-top: 2.1875rem;
  }

  .contact__content {
    padding-top: 3.75rem;
  }

  .contact__content {
    padding-bottom: 1.875rem;
  }

  .contact__content {
    padding-left: 3.75rem;
  }

  .contact__header {
    gap: 2.5rem;
  }

  .contact__title {
    font-size: 3.4375rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    padding-top: 0.9375rem;
  }

  .header__container {
    padding-bottom: 0.9375rem;
  }

  .menu__list {
    gap: 0.9375rem;
  }

  .species__container {
    font-size: 1.375rem;
  }

  .page__main {
    padding-top: 1.875rem;
  }

  .page__main {
    padding-bottom: 1.875rem;
  }

  .main__container {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .main__content {
    gap: 1.5625rem;
  }

  .main__title {
    font-size: 1.5625rem;
  }

  .main__button {
    font-size: 1.25rem;
  }

  .who__container {
    margin-top: 0.625rem;
  }

  .who__container {
    margin-bottom: 1.5625rem;
  }

  .who__title {
    font-size: 1.875rem;
  }

  .who__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .who__text {
    font-size: 1.25rem;
  }

  .best__container {
    margin-bottom: 1.5625rem;
  }

  .best__title {
    font-size: 1.875rem;
  }

  .best__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .best__items {
    padding-left: 0.0000000625rem;
  }

  .best__items {
    padding-right: 0.0000000625rem;
  }

  .best__items {
    gap: 1.25rem;
  }

  .best__item {
    row-gap: 1.5625rem;
  }

  .contact {
    padding-bottom: 1.5625rem;
  }

  .contact {
    padding-top: 0.9375rem;
  }

  .contact__content {
    padding-top: 0.625rem;
  }

  .contact__content {
    padding-bottom: 0.625rem;
  }

  .contact__content {
    padding-left: 0.625rem;
  }

  .contact__header {
    gap: 0.9375rem;
  }

  .contact__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.678);
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu__list {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #5EB647;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .main__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .main__title {
    text-align: center;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 54.375em) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 18.75rem;
    height: 37.5rem;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 47.99875em) {
  .who__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1.875rem;
  }

  .who__title {
    text-align: center;
  }

  .who__image {
    min-width: 18.125rem;
    min-height: 18.125rem;
  }

  .contact__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .contact__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 28.125em) {
  .header__logo span {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 71.9375em) {
@supports (padding-top: clamp( 0.9375rem , 0.2154783394rem  +  3.6101083032vw , 2.8125rem )) {
    .header__container {
      padding-top: clamp( 0.9375rem , 0.2154783394rem  +  3.6101083032vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.2154783394rem  +  3.6101083032vw , 2.8125rem )) {
    .header__container {
      padding-top: calc(0.9375rem + 1.875 * (100vw - 20rem) / 51.9375);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.2154783394rem  +  3.6101083032vw , 2.8125rem )) {
    .header__container {
      padding-bottom: clamp( 0.9375rem , 0.2154783394rem  +  3.6101083032vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.2154783394rem  +  3.6101083032vw , 2.8125rem )) {
    .header__container {
      padding-bottom: calc(0.9375rem + 1.875 * (100vw - 20rem) / 51.9375);
    }
}

@supports (gap: clamp( 0.9375rem , 0.1432761733rem  +  3.9711191336vw , 3rem )) {
    .menu__list {
      gap: clamp( 0.9375rem , 0.1432761733rem  +  3.9711191336vw , 3rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.1432761733rem  +  3.9711191336vw , 3rem )) {
    .menu__list {
      gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 51.9375);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2305956679rem  +  0.7220216606vw , 1.75rem )) {
    .species__container {
      font-size: clamp( 1.375rem , 1.2305956679rem  +  0.7220216606vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2305956679rem  +  0.7220216606vw , 1.75rem )) {
    .species__container {
      font-size: calc(1.375rem + 0.375 * (100vw - 20rem) / 51.9375);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.1902827918rem  +  8.4235860409vw , 6.25rem )) {
    .page__main {
      padding-top: clamp( 1.875rem , 0.1902827918rem  +  8.4235860409vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.1902827918rem  +  8.4235860409vw , 6.25rem )) {
    .page__main {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 51.9375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.1902827918rem  +  8.4235860409vw , 6.25rem )) {
    .page__main {
      padding-bottom: clamp( 1.875rem , 0.1902827918rem  +  8.4235860409vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.1902827918rem  +  8.4235860409vw , 6.25rem )) {
    .page__main {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 51.9375);
    }
}

@supports ((-moz-column-gap: clamp( 3.125rem , 1.3199458484rem  +  9.0252707581vw , 7.8125rem )) or (column-gap: clamp( 3.125rem , 1.3199458484rem  +  9.0252707581vw , 7.8125rem ))) {
    .main__container {
      -webkit-column-gap: clamp( 3.125rem , 1.3199458484rem  +  9.0252707581vw , 7.8125rem );
         -moz-column-gap: clamp( 3.125rem , 1.3199458484rem  +  9.0252707581vw , 7.8125rem );
              column-gap: clamp( 3.125rem , 1.3199458484rem  +  9.0252707581vw , 7.8125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , 1.3199458484rem  +  9.0252707581vw , 7.8125rem )) or (column-gap: clamp( 3.125rem , 1.3199458484rem  +  9.0252707581vw , 7.8125rem ))) {
    .main__container {
      -webkit-column-gap: calc(3.125rem + 4.6875 * (100vw - 20rem) / 51.9375);
         -moz-column-gap: calc(3.125rem + 4.6875 * (100vw - 20rem) / 51.9375);
              column-gap: calc(3.125rem + 4.6875 * (100vw - 20rem) / 51.9375);
    }
}

@supports (gap: clamp( 1.5625rem , 0.792343562rem  +  3.8507821901vw , 3.5625rem )) {
    .main__content {
      gap: clamp( 1.5625rem , 0.792343562rem  +  3.8507821901vw , 3.5625rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 0.792343562rem  +  3.8507821901vw , 3.5625rem )) {
    .main__content {
      gap: calc(1.5625rem + 2 * (100vw - 20rem) / 51.9375);
    }
}

@supports (font-size: clamp( 1.5625rem , 0.7442087846rem  +  4.091456077vw , 3.6875rem )) {
    .main__title {
      font-size: clamp( 1.5625rem , 0.7442087846rem  +  4.091456077vw , 3.6875rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.7442087846rem  +  4.091456077vw , 3.6875rem )) {
    .main__title {
      font-size: calc(1.5625rem + 2.125 * (100vw - 20rem) / 51.9375);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8889891697rem  +  1.8050541516vw , 2.1875rem )) {
    .main__button {
      font-size: clamp( 1.25rem , 0.8889891697rem  +  1.8050541516vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8889891697rem  +  1.8050541516vw , 2.1875rem )) {
    .main__button {
      font-size: calc(1.25rem + 0.9375 * (100vw - 20rem) / 51.9375);
    }
}

@supports (margin-top: clamp( 0.625rem , 0.2639891697rem  +  1.8050541516vw , 1.5625rem )) {
    .who__container {
      margin-top: clamp( 0.625rem , 0.2639891697rem  +  1.8050541516vw , 1.5625rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , 0.2639891697rem  +  1.8050541516vw , 1.5625rem )) {
    .who__container {
      margin-top: calc(0.625rem + 0.9375 * (100vw - 20rem) / 51.9375);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -0.2425541516rem  +  9.0252707581vw , 6.25rem )) {
    .who__container {
      margin-bottom: clamp( 1.5625rem , -0.2425541516rem  +  9.0252707581vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -0.2425541516rem  +  9.0252707581vw , 6.25rem )) {
    .who__container {
      margin-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 51.9375);
    }
}

@supports (font-size: clamp( 1.875rem , 1.2733152828rem  +  3.008423586vw , 3.4375rem )) {
    .who__title {
      font-size: clamp( 1.875rem , 1.2733152828rem  +  3.008423586vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2733152828rem  +  3.008423586vw , 3.4375rem )) {
    .who__title {
      font-size: calc(1.875rem + 1.5625 * (100vw - 20rem) / 51.9375);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.177421781rem  +  1.9253910951vw , 2.5625rem )) {
    .who__title:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.177421781rem  +  1.9253910951vw , 2.5625rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.177421781rem  +  1.9253910951vw , 2.5625rem )) {
    .who__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1 * (100vw - 20rem) / 51.9375);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1537304452rem  +  0.4813477738vw , 1.5rem )) {
    .who__text {
      font-size: clamp( 1.25rem , 1.1537304452rem  +  0.4813477738vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1537304452rem  +  0.4813477738vw , 1.5rem )) {
    .who__text {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 51.9375);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -0.2425541516rem  +  9.0252707581vw , 6.25rem )) {
    .best__container {
      margin-bottom: clamp( 1.5625rem , -0.2425541516rem  +  9.0252707581vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -0.2425541516rem  +  9.0252707581vw , 6.25rem )) {
    .best__container {
      margin-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 51.9375);
    }
}

@supports (font-size: clamp( 1.875rem , 1.2733152828rem  +  3.008423586vw , 3.4375rem )) {
    .best__title {
      font-size: clamp( 1.875rem , 1.2733152828rem  +  3.008423586vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2733152828rem  +  3.008423586vw , 3.4375rem )) {
    .best__title {
      font-size: calc(1.875rem + 1.5625 * (100vw - 20rem) / 51.9375);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6483152828rem  +  3.008423586vw , 2.8125rem )) {
    .best__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6483152828rem  +  3.008423586vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6483152828rem  +  3.008423586vw , 2.8125rem )) {
    .best__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 51.9375);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -2.1660648954rem  +  10.8303247894vw , 5.625rem )) {
    .best__items {
      padding-left: clamp( 0.0000000625rem , -2.1660648954rem  +  10.8303247894vw , 5.625rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -2.1660648954rem  +  10.8303247894vw , 5.625rem )) {
    .best__items {
      padding-left: calc(0.0000000625rem + 5.6249999375 * (100vw - 20rem) / 51.9375);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -2.1660648954rem  +  10.8303247894vw , 5.625rem )) {
    .best__items {
      padding-right: clamp( 0.0000000625rem , -2.1660648954rem  +  10.8303247894vw , 5.625rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -2.1660648954rem  +  10.8303247894vw , 5.625rem )) {
    .best__items {
      padding-right: calc(0.0000000625rem + 5.6249999375 * (100vw - 20rem) / 51.9375);
    }
}

@supports (gap: clamp( 1.25rem , 0.7686522262rem  +  2.4067388688vw , 2.5rem )) {
    .best__items {
      gap: clamp( 1.25rem , 0.7686522262rem  +  2.4067388688vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.7686522262rem  +  2.4067388688vw , 2.5rem )) {
    .best__items {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 51.9375);
    }
}

@supports (row-gap: clamp( 1.5625rem , 1.2014891697rem  +  1.8050541516vw , 2.5rem )) {
    .best__item {
      row-gap: clamp( 1.5625rem , 1.2014891697rem  +  1.8050541516vw , 2.5rem );
    }
}

@supports not (row-gap: clamp( 1.5625rem , 1.2014891697rem  +  1.8050541516vw , 2.5rem )) {
    .best__item {
      row-gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 51.9375);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.0703219013rem  +  7.4608904934vw , 5.4375rem )) {
    .contact {
      padding-bottom: clamp( 1.5625rem , 0.0703219013rem  +  7.4608904934vw , 5.4375rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.0703219013rem  +  7.4608904934vw , 5.4375rem )) {
    .contact {
      padding-bottom: calc(1.5625rem + 3.875 * (100vw - 20rem) / 51.9375);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.4561522262rem  +  2.4067388688vw , 2.1875rem )) {
    .contact {
      padding-top: clamp( 0.9375rem , 0.4561522262rem  +  2.4067388688vw , 2.1875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.4561522262rem  +  2.4067388688vw , 2.1875rem )) {
    .contact {
      padding-top: calc(0.9375rem + 1.25 * (100vw - 20rem) / 51.9375);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.5783694344rem  +  6.0168471721vw , 3.75rem )) {
    .contact__content {
      padding-top: clamp( 0.625rem , -0.5783694344rem  +  6.0168471721vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.5783694344rem  +  6.0168471721vw , 3.75rem )) {
    .contact__content {
      padding-top: calc(0.625rem + 3.125 * (100vw - 20rem) / 51.9375);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.1436522262rem  +  2.4067388688vw , 1.875rem )) {
    .contact__content {
      padding-bottom: clamp( 0.625rem , 0.1436522262rem  +  2.4067388688vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.1436522262rem  +  2.4067388688vw , 1.875rem )) {
    .contact__content {
      padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 51.9375);
    }
}

@supports (padding-left: clamp( 0.625rem , -0.5783694344rem  +  6.0168471721vw , 3.75rem )) {
    .contact__content {
      padding-left: clamp( 0.625rem , -0.5783694344rem  +  6.0168471721vw , 3.75rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.5783694344rem  +  6.0168471721vw , 3.75rem )) {
    .contact__content {
      padding-left: calc(0.625rem + 3.125 * (100vw - 20rem) / 51.9375);
    }
}

@supports (gap: clamp( 0.9375rem , 0.3358152828rem  +  3.008423586vw , 2.5rem )) {
    .contact__header {
      gap: clamp( 0.9375rem , 0.3358152828rem  +  3.008423586vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.3358152828rem  +  3.008423586vw , 2.5rem )) {
    .contact__header {
      gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 51.9375);
    }
}

@supports (font-size: clamp( 1.875rem , 1.2733152828rem  +  3.008423586vw , 3.4375rem )) {
    .contact__title {
      font-size: clamp( 1.875rem , 1.2733152828rem  +  3.008423586vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2733152828rem  +  3.008423586vw , 3.4375rem )) {
    .contact__title {
      font-size: calc(1.875rem + 1.5625 * (100vw - 20rem) / 51.9375);
    }
}
}

@media (any-hover: hover) {
  .menu__item:hover::after {
    width: 100%;
  }

  .species__link:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }

  .main__button:hover {
    background-color: #6cb35a;
  }

  .contact__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .contact__link a:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .form__button:hover {
    background-color: #6cb35a;
  }
}